body {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(135, 5, 5, 0.416)); /* A mix of black and red */
    height: 100%; 
    color: white;
    font-family: Arial, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
