body {
    background-color: 48, 47, 47;
    height: 100%; 
    color: white;
    font-family: Arial, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
