body {
    background-color: 48, 47, 47;
    height: 100%; 
    color: white;
    font-family: Arial, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.modal-content {
  background: linear-gradient(135deg, #1a1a1a, #660000);
  color: #fff;
  border-radius: 10px;
  border: none;
}

/* Modal Header */
.modal-header {
  border-bottom: 1px solid #990000;
}

.modal-title {
  font-size: 26px;
  font-weight: bold;
  color: #ff4444;
  font-family: "Poppins", sans-serif;
}

/* Modal Body */
.modal-body {
  display: flex;
  align-items: center;
}

.modal-body img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.3);
}

/* Movie Info Container */
.modal-content-container {
  margin-left: 20px;
}

.modal-movie-title {
  font-size: 24px;
  font-weight: bold;
  color: #ff6666;
  margin-bottom: 8px;
}

.modal-movie-description {
  font-size: 16px;
  line-height: 1.6;
  color: #ddd;
  font-family: "Roboto", sans-serif;
}

/* Modal Footer */
.modal-footer {
  border-top: 1px solid #990000;
}

.modal-footer .btn {
  background-color: #ff4444;
  border: none;
  font-weight: bold;
}

.modal-footer .btn:hover {
  background-color: #cc0000;
}