.tableContainer{
    margin-top: 100px;
    border-radius: 25px;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.704), black);
    padding-left: 50px;
    padding-right: 50px;
}
.tableContainer h4{
    color: rgb(255, 255, 255);

}
.tableContainer h6{
    color: rgb(255, 255, 255);
}
.removeUser{
    width: 100px;
}
/* .headers{
    color: antiquewhite;
} */
 .tableContainer Button{
    width: 100px;
 }